# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Application databases
*.sqlite3

# Docker
.docker/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
*.log

# Dependencies
node_modules/
.pnpm-store/

# Build artifacts
dist/
build/
.next/
out/

# Python ignores
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
bin/
lib/
include/
/backend/venv/
